body {
  background-color: #222;
}
.sacd {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
.Tom {
  height: 600px;
  position: absolute;

  left: 50%;

  top: 70%;

  transform: translate(-50%, -50%);
  vertical-align: middle;
  border: 3px solid yellow;
  width: 50%;
}

h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  position: flex;
  top: 28%;
  left: 42%;
  cursor: pointer;
  text-decoration: underline;
  vertical-align: middle;
  align-items: center;
}

h1:hover {
  color: blue;
}
footer {
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
